<div class="column-1-2 text-center">

  <%= form_with model: @request do |form| %>
    <div class="buffer-both-large">
      <%= form.text_area :body, id: 'body' %>
    </div>

    <div class="buffer-both-large">
      <%= form.submit 'запрос', class: 'button', id:'butt'  %>
    </div>
  <% end %>
</div>

<div class="column-1-2 text-center">
  <div class="buffer-both-large">
    <div class="title-large" id="count">
      <%= "#{@requests_count} #{inclination(@requests_count, "запрос", "запроса", "запросов")}" %>
    </div>

  </div>

  <div class="created_at">
    <% @requests.each do |request| %>

      <ul>
        <li><%= request.created_at %></li>
      </ul>

    <% end %>
  </div>
</div>
